.single-char {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__img {
        border-radius: 150px;
    }
    &__name {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 16px;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
    }
    &__informations {
        display: flex;
        margin-bottom: 48px;
        align-items: center; 
        justify-content: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #8E8E93;
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__descr {
        width: 413px;
        font-weight: 700;
        font-size: 16px;
        p {
            margin-top: 2px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6E798C;
        }
    }
    &__back {
        display: block  ;
        text-decoration: none;
        padding: 9px 4px 9px 40px;
        color: black;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        background: url(../../icons/arrow_back_24px.png) no-repeat 13px center;

    }
}

@media only screen and (max-width: 767px) {
    .single-char {
    margin-top: 32px;
        &__name {
        margin-top: 8px;
        font-size: 28px;
        line-height: 32px;
        }
        &__informations {
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 18px;
        }
        &__descr {
        width: 90%;
        font-size: 14px;
        p {
        font-size: 12px;
        line-height: 16px;
        }
        }
        &__back {
        padding: 9px 4px 9px 32px;
        font-size: 16px;
        line-height: 19px;
        background-position: 9px center;
        }
    }
}